<div class="container_big-card">
  <div class="photo_big-card">
    <img src="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    alt=""
    height="200px"
    >
  </div>
  <div class="title_big-card">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="description_big-card">
    <p><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum architecto necessitatibus odio? Impedit ad dolorem iste hic placeat harum praesentium repellendus, assumenda consectetur explicabo reiciendis, provident a. A, mollitia nobis.</a></p>
  </div>
</div>
