<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <ng-container *ngFor="let card of cards" >
      <app-big-card *ngIf="card.main"
        Id={{card.id}}
        photoCover={{card.photo}}
        cardTitle={{card.title}}
        cardDescription={{card.description}}
      ></app-big-card>
    </ng-container>
  </div>
  <div class="articles_others">
    <ng-container *ngFor="let card of cards" >
      <app-small-card *ngIf="!card.main"
        Id={{card.id}}
        cardTitle={{card.title}}
        photoCover={{card.photo}}
      ></app-small-card>
    </ng-container>
  </div>
</div>
