<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
      cardTitle= "Title Test"
      cardDescription= "Description Test"
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      cardTitle="Teste small card 1"
      photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    ></app-small-card>

    <app-small-card
      cardTitle="Teste small card 2"
      photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    ></app-small-card>

    <app-small-card
      cardTitle="Teste small card 3"
      photoCover="https://www.morecap.com.br/assets/images/SM-placeholder.png"
    ></app-small-card>
  </div>
</div>
